---
import { Icon } from 'astro-icon/components';
import Image from '~/components/common/Image.astro';
---

<div id="main_hero" class="w-full h-screen astro-S3CKSQXZ">
  <div
    class="swiper astro-S3CKSQXZ"
  >
    <div class="swiper-wrapper astro-S3CKSQXZ">
      <div
        class="bg_custom_slide swiper-slide flex flex-col gap-4 astro-S3CKSQXZ"
        style='background-size: cover; background-repeat: no-repeat; background-position: center center; background-image: url("https://a-us.storyblok.com/f/1013485/900x1597/945480b707/slider_ri_movil.webp"); width: 390px;'
      >
        <span
          class="text-[5vw] lg:text-2xl uppercase text-[#fff] astro-S3CKSQXZ"
          data-swiper-parallax-y="-600"
          data-swiper-parallax-duration="500"
        >
          R.I Clinic
        </span>

        <h2
          class="mb-8 portrait:text-[12vw] md:portrait:text-[15vw] landscape:text-[15vh] font-univers-55 leading-[92%] text-[#fff] astro-S3CKSQXZ"
          data-swiper-parallax="-700"
          data-swiper-parallax-duration="600"
          style="transform: translate3d(0px, 0px, 0px);"
        >
            <span class="tracking-tighter astro-S3CKSQXZ">Inspired by the extraordinary</span>
        </h2>
      </div>







      

      <div
        class="bg_custom_slide swiper-slide parallax-bg flex flex-col gap-4 astro-S3CKSQXZ swiper-slide-next"
        style='background-size: cover; background-repeat: no-repeat; background-position: center center; background-image: url("https://a-us.storyblok.com/f/1013485/900x1597/8055442e64/slider_tresguerras_movil.webp"); width: 390px;'
      >
        <span
          class="font-univers-49 text-[5vw] lg:text-2xl uppercase text-[#000] astro-S3CKSQXZ"
          data-swiper-parallax-y="-600"
          data-swiper-parallax-duration="500"
        >
          Three Wars
        </span>

        <h2
          class="mb-8 portrait:text-[12vw] md:portrait:text-[15vw] landscape:text-[15vh] font-univers-55 leading-[92%] text-[#000] astro-S3CKSQXZ"
          data-swiper-parallax="-700"
          data-swiper-parallax-duration="600"
          style="transform: translate3d(700px, 0px, 0px);"
        >
          <font _mstmutation="1" _msttexthash="328549" _msthash="22"
            ><span class="tracking-tighter astro-S3CKSQXZ" _mstmutation="1" _istranslated="1"
              >We join <br _istranslated="1" /></span
            >
            <span
              class="portrait:text-[12vw] md:portrait:text-[15vw] landscape:text-[15vh] font-baskerville italic text-[#000] astro-S3CKSQXZ"
              _mstmutation="1"
              _istranslated="1">the journey</span
            ></font
          >
        </h2>

        <a
          data-swiper-parallax="-800"
          data-swiper-parallax-duration="700"
          href="/portafolio/88680"
          class="uppercase py-2 px-4 w-fit h-fit font-futura text-[4vw] lg:text-2xl flex gap-4 overflow-hidden astro-NOOLMW6A"
          style="--text_color: black; --bg_color: #57F1B1; transform: translate3d(800px, 0px, 0px);"
          ><p
            class="astro-NOOLMW6A"
            style="--text_color: black;--bg_color: #57F1B1;"
            _msttexthash="131807"
            _msthash="23"
          >
            VIEW PROJECT
          </p>
          <img
            src="/svg/flecha_diagonal.svg"
            alt="arrow"
            class="invert astro-NOOLMW6A"
            style="--text_color: black;--bg_color: #57F1B1;"
            _mstalt="75205"
            _msthash="24"
          /></a
        >
      </div><div
        class="bg_custom_slide swiper-slide parallax-bg flex flex-col gap-4 astro-S3CKSQXZ"
        style='background-size: cover; background-repeat: no-repeat; background-position: center center; background-image: url("https://a-us.storyblok.com/f/1013485/900x1597/487d4820d8/slider_tropper_movil.webp"); width: 390px;'
      >
        <span
          class="font-univers-49 text-[5vw] lg:text-2xl uppercase text-[#000] astro-S3CKSQXZ"
          data-swiper-parallax-y="-600"
          data-swiper-parallax-duration="500"
          style="transform: translate3d(0px, 600px, 0px);"
          _msttexthash="98085"
          _msthash="25"
        >
          Tropper
        </span>

        <h2
          class="mb-8 portrait:text-[12vw] md:portrait:text-[15vw] landscape:text-[15vh] font-univers-55 leading-[92%] text-[#000] astro-S3CKSQXZ"
          data-swiper-parallax="-700"
          data-swiper-parallax-duration="600"
          style="transform: translate3d(700px, 0px, 0px);"
        >
          <font _mstmutation="1" _msttexthash="207987" _msthash="26"
            ><span class="tracking-tighter astro-S3CKSQXZ" _mstmutation="1" _istranslated="1"
              >We <br _istranslated="1" />move</span
            >
            <span
              class="portrait:text-[12vw] md:portrait:text-[15vw] landscape:text-[15vh] font-baskerville italic text-[#000] astro-S3CKSQXZ"
              _mstmutation="1"
              _istranslated="1">people</span
            ></font
          >
        </h2>

        <a
          data-swiper-parallax="-800"
          data-swiper-parallax-duration="700"
          href="/portafolio/88682"
          class="uppercase py-2 px-4 w-fit h-fit font-futura text-[4vw] lg:text-2xl flex gap-4 overflow-hidden astro-NOOLMW6A"
          style="--text_color: black; --bg_color: #ABEBFF; transform: translate3d(800px, 0px, 0px);"
          ><p
            class="astro-NOOLMW6A"
            style="--text_color: black;--bg_color: #ABEBFF;"
            _msttexthash="131807"
            _msthash="27"
          >
            VIEW PROJECT
          </p>
          <img
            src="/svg/flecha_diagonal.svg"
            alt="arrow"
            class="invert astro-NOOLMW6A"
            style="--text_color: black;--bg_color: #ABEBFF;"
            _mstalt="75205"
            _msthash="28"
          /></a
        >
      </div>
    </div>

    <div class="w-full absolute bottom-0 z-10 flex lg:hidden items-center justify-between p-8 pb-16">
      <div class="swiper-pagination astro-S3CKSQXZ"></div>

      <div class="flex items-center gap-2">
        <Icon name="tabler:circle-arrow-left-filled" class="swiper-button-prev text-4xl text-loco-red transition-all" />
        <Icon
          name="tabler:circle-arrow-right-filled"
          class="swiper-button-next text-4xl text-loco-red transition-all"
        />
      </div>
    </div>
  </div>
</div>

<style>
  a:where(.astro-NOOLMW6A) {
    background-color: var(--bg_color);
    color: var(--text_color);
  }

  .swiper:where(.astro-S3CKSQXZ),
  main:where(.astro-S3CKSQXZ) {
    position: relative;
  }

  .swiper:where(.astro-S3CKSQXZ) {
    height: 100%;
    width: 100%;
  }

  .swiper-slide:where(.astro-S3CKSQXZ) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem 0 6rem;
  }

  .progress-bg:where(.astro-S3CKSQXZ) {
    background-color: #fff;
  }

  .pl-open-menu:where(.astro-S3CKSQXZ) {
    padding-left: 400px;
  }

  @media screen and (max-width: 1023px) {
    .swiper-slide:where(.astro-S3CKSQXZ) {
      justify-content: flex-start;
      padding: 15vh 2rem 2rem;
    }

    .pl-open-menu:where(.astro-S3CKSQXZ) {
      padding-left: 2rem;
    }
  }

  .bg-loco-purple {
    --tw-bg-opacity: 1;
    background-color: rgb(32 38 178 / var(--tw-bg-opacity));
  }

  .text-loco-red {
    --tw-text-opacity: 1;
    color: rgb(246 76 113 / var(--tw-text-opacity));
  }
</style>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<script is:inline src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script is:inline>
  const swiper = new Swiper('.swiper', {
    // If we need pagination
    pagination: {
      el: '.swiper-pagination',
    },

    // Navigation arrows
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },

    parallax : true,
  });
</script>

<script>
  (function () {
    const slides = [
      {
        kicker: 'R.I Clinic',
        background: 'url("https://a-us.storyblok.com/f/1013485/1600x900/b1c8d8fa71/slider_ri.webp")',
        background_movil: 'url("https://a-us.storyblok.com/f/1013485/900x1597/945480b707/slider_ri_movil.webp")',
        title: 'Inspirados por <br> ',
        highlight: 'lo extraordinario',
        text_color: '#fff',
        url_project: '',
        btn_href: '/portafolio/88673',
        btn_bg_color: '#F64C71',
        btn_text_color: 'white',
        invert_arrow_color: false,
      },
      {
        kicker: 'Tresguerras',
        background: 'url("https://a-us.storyblok.com/f/1013485/1600x900/716f9d3b5e/slider_tresguerras.webp")',
        background_movil:
          'url("https://a-us.storyblok.com/f/1013485/900x1597/8055442e64/slider_tresguerras_movil.webp")',
        title: 'Nos unimos <br>',
        highlight: 'al viaje',
        text_color: '#000',
        url_project: '',
        btn_href: '/portafolio/88680',
        btn_bg_color: '#57F1B1',
        btn_text_color: 'black',
        invert_arrow_color: true,
      },
      {
        kicker: 'Tropper',
        background: 'url("https://a-us.storyblok.com/f/1013485/1600x900/7e59c926ee/slider_tropper.webp")',
        background_movil: 'url("https://a-us.storyblok.com/f/1013485/900x1597/487d4820d8/slider_tropper_movil.webp")',
        title: 'Movemos <br>',
        highlight: 'personas',
        text_color: '#000',
        url_project: '',
        btn_href: '/portafolio/88682',
        btn_bg_color: '#ABEBFF',
        btn_text_color: 'black',
        invert_arrow_color: true,
      },
    ];

    //SELECTOR BACKGROUND DEPENDIENTO ORIENTACION
    const bg_custom_slides = [...document.querySelectorAll('.bg_custom_slide')];

    const setBackground = () => {
      const w_height = window.innerHeight;
      const w_width = window.innerWidth;

      bg_custom_slides.map((x, index) => {
        x.style.backgroundImage = w_width > w_height ? slides[index].background : slides[index].background_movil;
      });
    };

    setBackground();
    window.addEventListener('resize', () => {
      setBackground();
    });
  })();
</script>
